name: Release Pipeline

on:
  release:
    types: [published, edited]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.release.tag_name }}
      - run: npm install
      - run: npm run build
      - uses: JasonEtco/build-and-tag-action@v1
        with:
          setup: ''
        env:
          GITHUB_TOKEN: ${{ github.token }}
