name: test
on:
  pull_request:
  push:
    branches:
      - main

permissions:
  issues: write
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18, 20, 22, 24]
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: npm test
    - run: npm run test:integration-issues

  testint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 24
      uses: actions/setup-node@v4
      with:
        node-version: 24
    - run: npm install
    - run: npm run test:integration
      env:
          GITHUB_TOKEN: ${{ secrets.INT_TEST_TOKEN }}
  action-in-action:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 24
      uses: actions/setup-node@v4
      with:
        node-version: 24
    - run: npm install
    - uses: ./
      id: maker
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        schedules: 2020-04-02T17:00:00.0Z/P1D
        issueTitle: 'Test Meeting <%= date.toZonedDateTimeISO("UTC").toPlainDate().toString() %>'
        createWithin: P2D
        meetingLabels: test
        agendaLabel: meeting-agenda-test
        meetingLink: https://github.com/pkgjs/meet
        createNotes: true
        repos: pkgjs/meet,pkgjs/meet
        orgs: pkgjs
    - name: clean up issue
      run: node ./test/_close-issue.js ${{ secrets.GITHUB_TOKEN }} ${{ steps.maker.outputs.issueNumber }}
